    
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.ivu-checkbox-large .ivu-checkbox-inner{
    width: 20px !important;
    height: 20px !important;
}

.ivu-checkbox-large .ivu-checkbox-checked .ivu-checkbox-inner:after{
    top: 2px;
    left: 6px;
}

.div-card{
    width: 800px;
    margin: 100px auto;
    background-color: white;
    font-size: 18px;
    border-radius: 10px !important;
}

.div-header{
    margin-top: 30px;
}

.div-header-title{
    width: 100%;
    text-align: left;
}

.div-header-comment{
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.div-body{
    margin-top: 30px;
    text-align: left;
    margin-left: 45px;
    height: 400px;
}

.div-body-input{
    width: 550px !important;
}

.div-body-add-button{
    margin-left: 10px;
    width: 70px;
}

.div-body-data-table{
    margin-top: 50px;
    margin-left: 10px;
}

.div-body-data-table-dl{
    font-size: 20px !important;
    width: 88%;
    max-height: 270px;
    overflow-y: auto;
}

.div-body-data-table-dl-dt{
    height: 40px;
    line-height: 40px;
}

.div-body-data-table-dl-dt-checkbox{
    font-size: 20px !important;
}

.div-footer{
    margin-left: 20px;
}

.div-footer-button{
    color: #2d8cf0;
    width:70px;
    margin-right: 50px;
}

.div-footer-button-complete{
    color: #2d8cf0;
    width:100px;
    margin-right: 50px;
}

.div-body-data-table-dl-dt-input{
    width: auto !important;
    top: -2px;
}

.div-body-data-table-dl-dt-del{
    color: #999;
}

.button-selected{
    color: #2d8cf0 !important;
    border: 1px solid #2d8cf0 !important;
}

.main-div{
    margin: 200px auto;
    width: 500px;
}

.main-div-input{
    width: 200px !important;
    margin-right: 15px;
}

.div-back{
    float: left;
    color: white;
    margin-left: 25px;
    margin-top: 14px;
}

.div-username{
    float: right;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 12px;
}

.modal-body-p{
    font-size: 18px;
    font-weight: bold;
}

.home-left-menu{
    height: 100%;
}

.row-home{
    height: 100% !important;
}

.row-col{
    height: 100%;
}

.div-header{
    margin-top: 100px;
}

.div-header-avatar{
    width: 100px !important;
    height: 100px !important;
    border-radius: 100px !important;
}

.div-body-mine{
    font-size: 20px;
}

.div-body-data-table-dl-dt-delete-btn{
    float: right;
    margin-right: 8px;
}

.row-home-header{
    height: 7%;
    width: 100%;
    background-color: #17233d;
}

.row-home-header-avatar{
    margin-right: 5px;
}

.row-home-header-span{
    color: white;
}